Temp
Library
UMA
Standard Assets
/Assets/CloseUpCameraPerspective.cs.meta
/Assets/DemoCharacterDetails.cs
/Assets/DemoCharacterDetails.cs.meta
/Assets/DistanceSlider.cs
/Assets/DistanceSlider.cs.meta
/Assets/Quad.prefab
/Assets/Quad.prefab.meta
/Assets/Standard Assets.meta
/Assets/UMA.meta
/Assets/UMA.prefab
/Assets/UMA.prefab.meta
/Assets/Canvas.prefab
/Assets/Canvas.prefab.meta
/Assets/CloseUpCameraPerspective.cs
